<div class="w-full h-full flex flex-col justify-center items-center">
  {{#if this.isLoading   }}
    <LoadingIndicator />
  {{else if (not this.loadError)}}
    <table class="table-auto mb-6 w-[80%] max-w-[80%]  min-w-[80%]">
      {{!-- Table head --}}
      <thead class="uppercase text-left">
      <tr>
        <th scope="col" class="px-6 py-3">
          Id</th>
        <th scope="col" class="px-6 py-3">
          Query</th>
        <th scope="col" class="px-6 py-3">
          Last processed at</th>
        <th scope="col" class="px-6 py-3">
          Position</th>
        <th scope="col" class="px-6 py-3">
          Result count</th>
        <th scope="col" class="px-6 py-3">
          Select competitor</th>
        <th scope="col" class="px-6 py-3">
          Competitor rank</th>
        <th scope="col" class="px-6 py-3">
          Competitor rank type</th>
      </tr>
      </thead>
      {{!-- Table body --}}
      <tbody>
      {{#each this.currentRows as |dataItem|}}
        <tr class="odd:bg-white  even:bg-gray-50 border-b">
          <td class="px-6 py-4 max-w-20 ">
            {{dataItem.id}}</td>
          <td class="px-6 py-4 truncate hover:text-clip min-w-30 w-50 max-w-50" >
            {{dataItem.query}} </td>
          <td class="px-6 py-4 truncate hover:text-clip w-15">
            {{date dataItem.last_processed_at}}</td>
          <td class="px-6 py-4 truncate hover:text-clip max-w-20">
            {{if dataItem.position dataItem.position 'no position :('}}</td>
          <td class="px-6 py-4 truncate hover:text-clip max-w-40">
            {{dataItem.results_count}}</td>
          <td class="px-6 py-4 max-w-40">
            <label for="{{dataItem.id}}" class="sr-only">Select competitor</label>
            <select onchange={{this.selectCompetitor}} id="{{dataItem.id}}" class="s">
              <option selected disabled>  {{#if (gt dataItem.competitors.length 0)}}
                Select a competitor
              {{else}}
                --
              {{/if}}</option>
              {{#each dataItem.competitors as |competitor|}}
                 <option value={{competitor}}>{{competitor}}</option>
              {{/each }}
            </select>
          </td>
          <td class="px-6 py-4 truncate hover:text-clip max-w-20">
            {{#if dataItem.selected_competitor  }}
              {{ this.getCompetitorRank dataItem}}
            {{else}}
              --
            {{/if}}
          </td>
          <td class="px-6 py-4 truncate hover:text-clip max-w-20">
            {{#if dataItem.selected_competitor  }}
              {{ this.getCompetitorRankType dataItem}}
            {{else}}
              --
            {{/if}}
          </td>
        </tr>
      {{/each}}

      </tbody>
    </table>
      <div class="w-[80%] flex items-center justify-between">
        <button
          class="bg-teal-300 hover:bg-teal-400 font-bold py-2 px-4 rounded-l focus:outline-none focus:shadow-outline disabled:bg-teal-100 disabled:text-gray-300 disabled:cursor-not-allowed select-none" disabled={{lt this.currentPage 2}} type="button" {{on "click" this.previousPage}}>
          Previous
        </button>

        <span class="mx-2">Page {{this.currentPage}} of {{this.totalPages}}</span>

        <button
          class="bg-lime-300 hover:bg-lime-400 font-bold py-2 px-4 rounded-r focus:outline-none focus:shadow-outline disabled:bg-lime-200 disabled:text-gray-300 disabled:cursor-not-allowed" disabled={{gte this.currentPage this.totalPages}} type="button" {{on "click" this.nextPage}}>
          Next
        </button>
      </div>
  {{else}}
    <button {{on "click" this.loadKeywordsResults}} class="bg-lime-300 hover:bg-pink-300 font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"> Reload</button>
  {{/if}}
</div>


