<button class="bg-amber-600 w-20" type="button" {{on "click" this.loadKeywordsResults}}>Load Data</button>

<div class="w-full h-full flex justify-center items-center">
  <table class="table-auto">
    <thead class="uppercase text-left">
    <tr>
      <th scope="col" class="px-6 py-3">
        Id</th>
      <th scope="col" class="px-6 py-3">
        Query</th>
      <th scope="col" class="px-6 py-3">
        Last processed at</th>
      <th scope="col" class="px-6 py-3">
        Position</th>
      <th scope="col" class="px-6 py-3">
        Result count</th>
      <th scope="col" class="px-6 py-3">
        Competitor rank</th>
      <th scope="col" class="px-6 py-3">
        Competitor rank type</th>
    </tr>
    </thead>
    <tbody>
        {{#each this.tableData as |dataItem|}}
            <tr class="odd:bg-white  even:bg-gray-50 border-b ">
              <td class="px-6 py-4">
                {{dataItem.id}}</td>
              <td class="px-6 py-4">
                {{dataItem.query}}</td>
              <td class="px-6 py-4">
                {{date dataItem.last_processed_at}}</td>
              <td class="px-6 py-4">
                {{if dataItem.position dataItem.position 'no position :('}}</td>
              <td class="px-6 py-4">
                {{dataItem.results_count}}</td>
              <td class="px-6 py-4">
                99</td>
              <td class="px-6 py-4">
                99</td>
            </tr>
        {{/each}}

  </tbody>
  </table>
</div>


